body {
	width: 200px; 
	overflow:hidden;
}

button {
     background:none;
     color:inherit;
     border:white; 
     font: inherit;
     padding: 2;
     margin: 2;
     cursor: pointer;
}

.header {
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:indianred;
  color:white;
  cursor: pointer;
}

h4, p {
  padding: 0px !important;
  margin: 0px !important;
}
