body {
	width: 300px; 
  max-height:280px ;
	overflow:auto;
}

button {
     background:none;
     color:inherit;
     border:white; 
     font: inherit;
     padding: 2;
     margin: 2;
     cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:indianred;
  color:white;
  cursor: pointer;
}